html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  width: 100%; }

.page {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .page:after {
    content: " ";
    display: block;
    clear: both; }

.equipped_items {
  min-height: 2500px;
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%; }

.available_equipment_tray {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%; }

.current_god {
  width: 66.10169%;
  float: right;
  margin-right: 0; }

.equipment_slot {
  width: 120px;
  height: 120px;
  background-color: lightcoral;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em; }

.available_equipment_tray .item_equipment {
  margin-bottom: 11.11111%; }
  .available_equipment_tray .item_equipment:nth-child(odd) {
    width: 44.44444%;
    float: left;
    margin-right: 11.11111%; }
  .available_equipment_tray .item_equipment:nth-child(even) {
    width: 44.44444%;
    float: right;
    margin-right: 0; }

.current_god {
  min-height: 1000px;
  background: url(../img/sol.jpg) no-repeat top center;
  background-size: 50%; }
