@import "susy";

$susy: (
    columns: 12,  // The number of columns in your grid
    gutters: 1/4, // The size of a gutter in relation to a single column
    gutter-position: after,
    global-box-sizing: border-box,
);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

.page {
  @include container(1200px);
}

.equipped_items {
  min-height: 2500px;
  @include span(2);
}

.available_equipment_tray {
  @include span(2);
}

.current_god {
  @include span(last 8)
}

.equipment_slot {
  width: 120px;
  height: 120px;
  background-color: lightcoral;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
}

.available_equipment_tray .item_equipment {
  margin-bottom: gutter(2);
  &:nth-child(odd) {
    @include span(1 of 2);
  }
  &:nth-child(even) {
    @include span(last 1 of 2);
  }
}

.current_god {
  min-height: 1000px;
  background: url(../img/sol.jpg) no-repeat top center;
  background-size: 50%;
}
